body {
  min-width: 200px;
  background-color: #e9ecef;
  font-family: Sans;
  text-align: right;
}

.parameter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.name {
    margin-right: 5px;
    flex-grow: 1;
}

.url {
    flex-grow: 0;
}

#error {
  color: #db3b21;
}
