body {
  min-width: 200px;
  background-color: #e9ecef;
  font-family: Sans;
  text-align: right;
  margin-bottom: 30px;
}

.name {
    margin-right: 5px;
}

#error {
  color: #db3b21;
  padding-bottom: 10px;
  height: 20px;
}
